<h2>Доступные курсы</h2>


<section id="categories" class="categories">
    {{#if allCourses.length}}
     {{#each allCourses}}
        <div class="category card">
        <img src="{{img}}" class="card-img-top" alt="{{title}}">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <h5 class="card-title">{{price}} $</h5>
            <p class="card-text">{{description}}</p>
            <form style="display: inline;" action="/cart/add" method="POST">
                <input type="hidden" name="id" value="{{id}}">
                <button class="btn btn-success">Купить</button>
            </form>
            <a href="/courses/{{id}}" target="_blank" class="btn btn-outline-warning">Подробнее</a>
            <a href="/courses/{{id}}/edit?allow=true"  class="btn btn-outline-warning"> <img style="height: 20px; width: 17px;" src="/img/edit.svg" alt=""></a>
            <button class="btn btn-outline-danger js-remove" data-id="{{_id}}"> <img style="height: 20px; width: 17px;" src="/img/trash.svg" alt=""></button>
        </div>
    </div>
     {{/each}}
     {{else}}
        <p>Курсов пока нет</p>
     {{/if}}
</section>

