
<section class="detailed-course" style="text-align: center; padding-bottom: 30px">
    <h1 style="margin-top: 50px;">{{course.title}}</h1>
    <img style="height: 500px; width: 500px;" src="{{course.img}}" class="card-img-top" alt="{{course.title}}">
    <h5 class="card-title">{{course.title}}</h5>
    <h5 class="card-title">{{course.price}} $</h5>
    <p class="card-text">{{course.description}}</p>
    <button style="padding-left: 20px; padding-right: 20px" class="btn btn-success">Купить</button>
    <button class="btn btn-outline-warning"> <img style="height: 20px; width: 17px;" src="/img/edit.svg" alt=""></button>
    <button class="btn btn-outline-danger"> <img style="height: 20px; width: 17px;" src="/img/trash.svg" alt=""></button>
</section>



{{!-- <div class="category card">
        <img src="{{course.img}}" class="card-img-top" alt="{{course.title}}">
        <div class="card-body">
            <h5 class="card-title">{{course.title}}</h5>
            <h5 class="card-title">{{course.price}} $</h5>
            <p class="card-text">{{course.description}}</p>
            <button class="btn btn-success">Купить</button>
            <button class="btn btn-outline-warning"> <img style="height: 20px; width: 17px;" src="/img/edit.svg" alt=""></button>
            <button class="btn btn-outline-danger"> <img style="height: 20px; width: 17px;" src="/img/trash.svg" alt=""></button>
            <a class="change" href="#">редактировать</a>
        </div>
    </div> --}}