
<h2>Редактировать {{course.title}}</h2>

<div class="category eidt-category card">
        <img src="{{course.img}}" class="card-img-top" alt="{{course.title}}">
        <div class="card-body">
            <h5 class="card-title">{{course.title}}</h5>
            <h5 class="card-title">{{course.price}} $</h5>
            <p class="card-text">{{course.description}}</p>
            <button class="btn btn-success" disabled>Купить</button>
            <button class="btn btn-outline-warning" disabled>Подробнее</button>
            <button class="btn btn-outline-warning" disabled> <img style="height: 20px; width: 17px;" src="/img/edit.svg" alt=""></button>
            <button class="btn btn-outline-danger" disabled> <img style="height: 20px; width: 17px;" src="/img/trash.svg" alt=""></button>
        </div>
    </div>